@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --purp: #6f4ff2;
  --primary: #0068ff;
  --light: #6c7aa0;
  --txt-gray: #68676e;
  --laal: #dc3546;
  --bg-clr: #ededed;
  --txt-clr: #565858;
  --bg-comp: #ffffff;
  --bg-dd: #e6e6e6;
  --bg-selected: #d1d5db;
  --spinner: #6b7280;
  --bg-pop: #e5e7eb;
}

.dark {
  --bg-clr: #23272a;
  --txt-clr: #fff;
  --bg-comp: #41454b;
  --bg-dd: #3b3e43;
  --bg-selected: #6b7280;
  --spinner: #fff;
  --bg-pop: #32373d;
}
